.main {
  width: 100%;
  flex: 1;
  padding: 53px 30px 0;
  background: var(--bg-primary);
  color: var(--color-pimary);
}

.container {
  width: 100%;
  min-height: 470px;
  border: 1px solid var(--color-hr);
  border-radius: 40px;
  padding: 35px 75px;
  display: flex;
  position: relative;
}

.main_images_container {
  display: flex;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
  width: 75px;
}

.main_image_container {
  margin-left: 15px;
  width: auto;
  height: 470px;
}

.btn_home {
  display: flex;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 25px;
  align-items: center;
  justify-content: center;
  top: 25px;
  border: 1px solid var(--color-hr);
  border-radius: 40px;
  color: var(--color-pimary);
}

.btn_home_text {
  margin-left: 6px;
}

.btn_home:hover {
  color: var(--color-pimary);
}


.main_image {
  height: 100%;
  border-radius: 20px;
}

.image {
  border-radius: 10px;
  cursor: pointer;
}

.info {
  height: 100%;
  margin-top: 75px;
  margin-left: 75px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

.category {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  min-height: 40px;
  border: 1px solid var(--color-hr);
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.description {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.price_and_button {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

.currency {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.btn_cart {
  height: 40px;
}

.mt_25 {
  margin-top: 25px;
}

.info_mobile, .btn_left, .btn_right {
  display: none;
}

@media screen and (max-width: 575px) {


  .main {
    padding-top: 30px;
  }

  .container {
    flex-direction: column;
    min-height: auto;
    padding: 0;
    border: none;
  }

  .main_images_container {
    flex-direction: column;
  }

  .images {
    flex-direction: row;
    width: auto;
    order: 2;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .image {
    height: auto;
    width: 50px;
  }

  .main_image_container {
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_image {
    height: auto;
    width: 100%;
    border-radius: 20px;
  }

  .mt_25 {
    margin: 0;
  }

  .info_mobile {
    display: flex;
    flex-direction: column;
  }

  .info {
    display: none;
    top: 0;
  }

  .btn_home {
    position: static;
  }

  .title {
    margin-top: 20px;
    font-size: 22px;
    line-height: 32px;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .price_product {
    margin-top: 40px;
  }

  .price {
    font-size: 27px;
    line-height: 33px;
  }

  .btn_left, .btn_right {
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--color-pimary);
    background: none;
    border: 1px solid var(--bg-btn);
  }

  .btn_left {
    margin-right: 13px;
  }

  .btn_right {
    margin-left: 13px;
  }
}
