.light_theme {
  --bg-primary: var(--bg-primary-light);
  --color-pimary: var(--color-primary-light)
}

.dark_theme {
  --bg-primary: var(--bg-primary-dark);
  --color-pimary: var(--color-primary-dark)
}

.products {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 15px;
  column-gap: 25px;
  padding: 15px 30px;
  background: var(--bg-primary);
}

@media screen and (max-width: 1500px) {

  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1220px) {

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 890px) {

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 575px) {

  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
