.product {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #CCC;
  min-height: 344px;
  padding: 15px 20px;
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  width: auto;
  height: 205px;
  border-radius: 20px;
}

.title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
}

.price_and_cart {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.currency {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.cart {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.cart_button {
  width: 100%;
  height: 100%;
  filter: invert(1) grayscale(100%);
}

.select_cart {
  position: absolute;
  top: -4px;
  right: -5px;
  width: 17px;
  height: 17px;
  border-radius: 9px;
  background: #EF4934;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save_cart {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
}
