.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #111;
  min-height: 80px;
  font-size: 34px;
  text-align: center;
  flex-wrap: wrap;
}

.verticalLine::before {
  content: "";
  display: block;
  margin: 0 10px;
  width: 1px;
  height: 20px;
  background-color: #656565;
}

.nav {
  flex-grow: 1;
  margin-right: 124px;
}

.cart {
  margin-right: 32px;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.nav__items {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.nav__link:hover {
  color: #FF0;
}

.nav__link__active {
  font-weight: 700;
}

.themes {
  display: flex;
  align-items: center;
}

.mr_10 {
  margin-right: 10px;
}

.mr_49 {
  margin-right: 49px;
}

.cart_and_burger {
  display: none;
}

.cart {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.cart_button {
  width: 100%;
  height: 100%;
}

.save_cart {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
}

@media screen and (max-width: 880px) {

  .nav, .buttons, .themes {
    display: none;
  }

  .nav__items {
    justify-content: center;
  }

  .cart_and_burger {
    display: flex;
  }

  .cart {
    margin-right: 14px;
  }
}
